server {
    listen 80 default_server;
    listen [::]:80 default_server;
    server_name 37.152.187.31;
    return 302 https://$server_name$request_uri;
}

upstream app {
    server 192.168.72.17:8002;
}

upstream mag {
    server 192.168.72.13:8003;
}

upstream blog {
    server 192.168.72.30:8004;
}

server {
    # SSL configuration
    listen 443 ssl http2 default_server;
    listen [::]:443 ssl http2 default_server;
    ssl_certificate /etc/ssl/certs/nginx-selfsigned.crt;
    ssl_certificate_key /etc/ssl/private/nginx-selfsigned.key;

    server_name 37.152.187.31;
    root /var/www/37.152.187.31;

  location / {
    try_files $uri $uri/ =404;
      proxy_pass https://app;
  }

  location /mag {
    auth_basic           "Administrator’s Area";
    auth_basic_user_file /etc/nginx/passwdfile;
    proxy_pass https://mag;

  }

  location /blog {
    proxy_pass https://blog;
  }
  
  location /ali {
    add_header arvan-loc ali always;
  }
}